AzureWebJobsStorage=
FUNCTIONS_WORKER_RUNTIME=node
COSMOS_CONNECTION_STRING=
STORAGE_CONNECTION_STRING=
LOGIC_APP_TRIGGER_URL=
FRONTEND_URL=http://localhost:5173
COSMOS_DATABASE_NAME=cloudreadydb
COSMOS_ASSESSMENTS_CONTAINER=assessments
COSMOS_INVITATIONS_CONTAINER=invitations
